<nav class="navbar navbar-toggleable-md navbar-light">
 <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
	<div class="container">
 <img height="40px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/2000px-Google_2015_logo.svg.png">
 <a class="navbar-brand" href="#">&nbsp;&nbsp;Bootstrap v4</a>

 <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <form class="form-inline my-2 my-lg-0">
   <div class="btn-group" role="group">
    <input class="form-control ml-sm-4" type="text" placeholder="Search">
    <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
   </div>
  </form>
  <ul class="navbar-nav ml-auto">

   <li class="nav-item active">
    <a class="nav-link" href="#">&nbsp;<i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;</a>
   </li>
   <li class="nav-item active">
    <a class="nav-link" href="#">&nbsp;<i class="fa fa-th" aria-hidden="true"></i>&nbsp;</a>
   </li>
   <li class="nav-item active">
    <a class="nav-link" href="#">vadillo.jon@gmail.com <span class="sr-only">(current)</span><i class="fa fa-angle-down" aria-hidden="true"></i></a>
   </li>
  </ul>
 </div>
	</div>
</nav>